{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 57, "git_revision": "41517dd82b068330da585e43d716c0a0c2b0bdf1", "hash": "8bf7daee4a9c4452b946462054119e0b", "format-version": 4, "code-base-name": "default", "filename": "fastapi_backend_workspace/fastapi_backend/requirements.txt", "revision_history": [{"57": "41517dd82b068330da585e43d716c0a0c2b0bdf1"}]}